iflows/TEST_I044_Timesheet_ZALARIS_TO_FICOPROC_TBD (1)/src/main/resources/wsdl/DOC_WEBI_ZFM_MM_7908_CATIMESHEET_CHANGE (1).WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
 </wsdl:documentation>
 <wsp:UsingPolicy wsdl:required="true"/>
 <wsp:Policy wsu:Id="IF_IF_ZFM_MM_7908_CATIMESHEET_CHANGE">
  <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
   <sapsession:enableSession>false</sapsession:enableSession>
  </sapsession:Session>
 </wsp:Policy>
 <wsp:Policy wsu:Id="OP_IF_OP_ZFM_MM_7908_CATIMESHEET_CHANGE">
  <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
  <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
  <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
  <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
 </wsp:Policy>
 <wsdl:types>
  <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
   <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char132">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="132"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char16">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char18">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="18"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char20">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="20"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char220">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="220"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char24">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="24"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char240">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="240"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char255">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="255"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char30">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="30"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char32">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="32"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="40"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char50">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="50"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="char8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="cuky5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="decimal23.4">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="23"/>
     <xsd:fractionDigits value="4"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric10">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="10"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric12">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="12"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric4">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="4"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric5">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="5"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric6">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="6"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="numeric8">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="8"/>
     <xsd:pattern value="\d*"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="quantum15.3">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="15"/>
     <xsd:fractionDigits value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="quantum4.2">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="4"/>
     <xsd:fractionDigits value="2"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="quantum7.1">
    <xsd:restriction base="xsd:decimal">
     <xsd:totalDigits value="7"/>
     <xsd:fractionDigits value="1"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="time">
    <xsd:restriction base="xsd:time">
     <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
     <xsd:maxLength value="3"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="BAPICATS3">
    <xsd:sequence>
     <xsd:element name="COUNTER" type="tns:char12"/>
     <xsd:element name="WORKDATE" type="tns:date10"/>
     <xsd:element name="EMPLOYEENUMBER" type="tns:numeric8"/>
     <xsd:element name="SEND_CCTR" type="tns:char10"/>
     <xsd:element name="SENBUSPROC" type="tns:char12"/>
     <xsd:element name="ACTTYPE" type="tns:char6"/>
     <xsd:element name="PO_NUMBER" type="tns:char10"/>
     <xsd:element name="PO_ITEM" type="tns:numeric5"/>
     <xsd:element name="SERVICE" type="tns:char18"/>
     <xsd:element name="REC_CCTR" type="tns:char10"/>
     <xsd:element name="REC_ORDER" type="tns:char12"/>
     <xsd:element name="NETWORK" type="tns:char12"/>
     <xsd:element name="ACTIVITY" type="tns:char4"/>
     <xsd:element name="SUB_ACTIVITY" type="tns:char4"/>
     <xsd:element name="CAPA_CATEGORY" type="tns:char3"/>
     <xsd:element name="SPLIT" type="xsd:unsignedByte"/>
     <xsd:element name="WORK_CNTR" type="tns:char8"/>
     <xsd:element name="WBS_ELEMENT" type="tns:char24"/>
     <xsd:element name="RECSALEORD" type="tns:char10"/>
     <xsd:element name="RECITEM" type="tns:numeric6"/>
     <xsd:element name="RECCOSTOBJ" type="tns:char12"/>
     <xsd:element name="RECBUSPROC" type="tns:char12"/>
     <xsd:element name="ABS_ATT_TYPE" type="tns:char4"/>
     <xsd:element name="WAGETYPE" type="tns:char4"/>
     <xsd:element name="TRIPNO" type="tns:numeric10"/>
     <xsd:element name="OT_COMP_TYPE" type="tns:char1"/>
     <xsd:element name="WORKTAXAREA" type="tns:char4"/>
     <xsd:element name="VALUATION_BASIS" type="tns:decimal23.4"/>
     <xsd:element name="CURRENCY" type="tns:cuky5"/>
     <xsd:element name="CURRENCY_ISO" type="tns:char3"/>
     <xsd:element name="EXTRA_PAY_INDIC" type="tns:char1"/>
     <xsd:element name="PAYSCALEGROUP" type="tns:char8"/>
     <xsd:element name="PAYSCALELEVEL" type="tns:char2"/>
     <xsd:element name="BONUSTYPE" type="tns:char2"/>
     <xsd:element name="BONUSVALUE" type="tns:numeric4"/>
     <xsd:element name="POSITION" type="tns:numeric8"/>
     <xsd:element name="CO_AREA" type="tns:char4"/>
     <xsd:element name="TRANS_CURR" type="tns:cuky5"/>
     <xsd:element name="TRANS_CURR_ISO" type="tns:char3"/>
     <xsd:element name="PRICE" type="tns:decimal23.4"/>
     <xsd:element name="PLANT" type="tns:char4"/>
     <xsd:element name="CALC_MOTIVE" type="tns:char2"/>
     <xsd:element name="CATSHOURS" type="tns:quantum4.2"/>
     <xsd:element name="UNIT" type="tns:unit3"/>
     <xsd:element name="ISOCODE_UNIT" type="tns:char3"/>
     <xsd:element name="STARTTIME" type="tns:time"/>
     <xsd:element name="ENDTIME" type="tns:time"/>
     <xsd:element name="PREVIOUS_DAY" type="tns:char1"/>
     <xsd:element name="ALL_DAY_FLAG" type="tns:char1"/>
     <xsd:element name="REM_WORK" type="tns:quantum7.1"/>
     <xsd:element name="FCST_FIN_DATE" type="tns:date10"/>
     <xsd:element name="FIN_CONF" type="tns:char1"/>
     <xsd:element name="SHORTTEXT" type="tns:char40"/>
     <xsd:element name="PART_CONF" type="tns:char1"/>
     <xsd:element name="EXTSYSTEM" type="tns:char10"/>
     <xsd:element name="EXTAPPLICATION" type="tns:char5"/>
     <xsd:element name="EXTDOCUMENTNO" type="tns:char20"/>
     <xsd:element name="EXTSYSTEM_OLD" type="tns:char10"/>
     <xsd:element name="EXTAPPLICATION_OLD" type="tns:char5"/>
     <xsd:element name="EXTDOCUMENTNO_OLD" type="tns:char20"/>
     <xsd:element name="STATKEYFIG" type="tns:char6"/>
     <xsd:element name="QUANTITY" type="tns:quantum15.3"/>
     <xsd:element name="UNITQ" type="tns:unit3"/>
     <xsd:element name="ISO_UNITQ" type="tns:char3"/>
     <xsd:element name="AMOUNT" type="tns:decimal23.4"/>
     <xsd:element name="LONGTEXT" type="tns:char1"/>
     <xsd:element name="FUND" type="tns:char10"/>
     <xsd:element name="FUNC_AREA" type="tns:char16"/>
     <xsd:element name="GRANT_NBR" type="tns:char20"/>
     <xsd:element name="SEND_FUND" type="tns:char10"/>
     <xsd:element name="SEND_FUNCTION" type="tns:char16"/>
     <xsd:element name="SEND_GRANT" type="tns:char20"/>
     <xsd:element name="CPR_GUID" type="tns:char32"/>
     <xsd:element name="CPR_EXTID" type="tns:char24"/>
     <xsd:element name="CPR_OBJGUID" type="tns:char32"/>
     <xsd:element name="CPR_OBJGEXTID" type="tns:char24"/>
     <xsd:element name="CPR_OBJTYPE" type="tns:char3"/>
     <xsd:element name="FUND_LONG" type="tns:char20"/>
     <xsd:element name="SEND_FUND_LONG" type="tns:char20"/>
     <xsd:element name="BUDGET_PERIOD" type="tns:char10"/>
     <xsd:element name="SEND_BUDGET_PERIOD" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPICATS7">
    <xsd:sequence>
     <xsd:element name="STRUCTURE" type="tns:char30"/>
     <xsd:element name="VALUEPART1" type="tns:char240"/>
     <xsd:element name="VALUEPART2" type="tns:char240"/>
     <xsd:element name="VALUEPART3" type="tns:char240"/>
     <xsd:element name="VALUEPART4" type="tns:char240"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SWHACTOR">
    <xsd:sequence>
     <xsd:element name="OTYPE" type="tns:char2"/>
     <xsd:element name="OBJID" type="tns:char12"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPICATS8">
    <xsd:sequence>
     <xsd:element name="ROW" type="xsd:int"/>
     <xsd:element name="FORMAT_COL" type="tns:char2"/>
     <xsd:element name="TEXT_LINE" type="tns:char132"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPIRET2">
    <xsd:sequence>
     <xsd:element name="TYPE" type="tns:char1"/>
     <xsd:element name="ID" type="tns:char20"/>
     <xsd:element name="NUMBER" type="tns:numeric3"/>
     <xsd:element name="MESSAGE" type="tns:char220"/>
     <xsd:element name="LOG_NO" type="tns:char20"/>
     <xsd:element name="LOG_MSG_NO" type="tns:numeric6"/>
     <xsd:element name="MESSAGE_V1" type="tns:char50"/>
     <xsd:element name="MESSAGE_V2" type="tns:char50"/>
     <xsd:element name="MESSAGE_V3" type="tns:char50"/>
     <xsd:element name="MESSAGE_V4" type="tns:char50"/>
     <xsd:element name="PARAMETER" type="tns:char32"/>
     <xsd:element name="ROW" type="xsd:int"/>
     <xsd:element name="FIELD" type="tns:char30"/>
     <xsd:element name="SYSTEM" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="BAPICATS2">
    <xsd:sequence>
     <xsd:element name="COUNTER" type="tns:char12"/>
     <xsd:element name="WORKDATE" type="tns:date10"/>
     <xsd:element name="EMPLOYEENUMBER" type="tns:numeric8"/>
     <xsd:element name="SEND_CCTR" type="tns:char10"/>
     <xsd:element name="SENBUSPROC" type="tns:char12"/>
     <xsd:element name="ACTTYPE" type="tns:char6"/>
     <xsd:element name="PO_NUMBER" type="tns:char10"/>
     <xsd:element name="PO_ITEM" type="tns:numeric5"/>
     <xsd:element name="SERVICE" type="tns:char18"/>
     <xsd:element name="REC_CCTR" type="tns:char10"/>
     <xsd:element name="REC_ORDER" type="tns:char12"/>
     <xsd:element name="NETWORK" type="tns:char12"/>
     <xsd:element name="AVTIVITY" type="tns:char4"/>
     <xsd:element name="SUB_ACTIVITY" type="tns:char4"/>
     <xsd:element name="WORK_CNTR" type="tns:char8"/>
     <xsd:element name="CAPA_CATEGORY" type="tns:char3"/>
     <xsd:element name="SPLIT" type="xsd:unsignedByte"/>
     <xsd:element name="WBS_ELEMENT" type="tns:char24"/>
     <xsd:element name="RECSALEORD" type="tns:char10"/>
     <xsd:element name="RECITEM" type="tns:numeric6"/>
     <xsd:element name="RECCOSTOBJ" type="tns:char12"/>
     <xsd:element name="RECBUSPROC" type="tns:char12"/>
     <xsd:element name="ABS_ATT_TYPE" type="tns:char4"/>
     <xsd:element name="WAGETYPE" type="tns:char4"/>
     <xsd:element name="TRIPNO" type="tns:numeric10"/>
     <xsd:element name="OT_COMP_TYPE" type="tns:char1"/>
     <xsd:element name="WORKTAXAREA" type="tns:char4"/>
     <xsd:element name="VALUATION_BASIS" type="tns:decimal23.4"/>
     <xsd:element name="CURRENCY" type="tns:cuky5"/>
     <xsd:element name="CURRENCY_ISO" type="tns:char3"/>
     <xsd:element name="EXTRA_PAY_INDIC" type="tns:char1"/>
     <xsd:element name="PAYSCALEGROUP" type="tns:char8"/>
     <xsd:element name="PAYSCALELEVEL" type="tns:char2"/>
     <xsd:element name="BONUSTYPE" type="tns:char2"/>
     <xsd:element name="BONUSVALUE" type="tns:numeric4"/>
     <xsd:element name="POSITION" type="tns:numeric8"/>
     <xsd:element name="CO_AREA" type="tns:char4"/>
     <xsd:element name="TRANS_CURR" type="tns:cuky5"/>
     <xsd:element name="TRANS_CURR_ISO" type="tns:char3"/>
     <xsd:element name="PRICE" type="tns:decimal23.4"/>
     <xsd:element name="PLANT" type="tns:char4"/>
     <xsd:element name="CALC_MOTIVE" type="tns:char2"/>
     <xsd:element name="CATSHOURS" type="tns:quantum4.2"/>
     <xsd:element name="UNIT" type="tns:unit3"/>
     <xsd:element name="ISOCODE_UNIT" type="tns:char3"/>
     <xsd:element name="STARTTIME" type="tns:time"/>
     <xsd:element name="ENDTIME" type="tns:time"/>
     <xsd:element name="PREVIOUS_DAY" type="tns:char1"/>
     <xsd:element name="ALL_DAY_FLAG" type="tns:char1"/>
     <xsd:element name="REM_WORK" type="tns:quantum7.1"/>
     <xsd:element name="FCST_FIN_DATE" type="tns:date10"/>
     <xsd:element name="FIN_CONF" type="tns:char1"/>
     <xsd:element name="SHORTTEXT" type="tns:char40"/>
     <xsd:element name="PART_CONF" type="tns:char1"/>
     <xsd:element name="EXTSYSTEM" type="tns:char10"/>
     <xsd:element name="EXTAPPLICATION" type="tns:char5"/>
     <xsd:element name="EXTDOCUMENTNO" type="tns:char20"/>
     <xsd:element name="CREATIONDATE" type="tns:date10"/>
     <xsd:element name="ENTRYTIME" type="tns:time"/>
     <xsd:element name="CREATING_ADMIN" type="tns:char12"/>
     <xsd:element name="LASTCHANGED_ON" type="tns:date10"/>
     <xsd:element name="LASTCHANGED_AT" type="tns:time"/>
     <xsd:element name="CHANGED_BY" type="tns:char12"/>
     <xsd:element name="APPROVING_ADMIN" type="tns:char12"/>
     <xsd:element name="DATE_OF_APPROVAL" type="tns:date10"/>
     <xsd:element name="WORKITEMID" type="tns:numeric12"/>
     <xsd:element name="LOG_SYSTEM" type="tns:char10"/>
     <xsd:element name="STATUS" type="tns:char2"/>
     <xsd:element name="REFCOUNTER" type="tns:char12"/>
     <xsd:element name="REASON" type="tns:char4"/>
     <xsd:element name="CATS_DOC_NO" type="tns:char10"/>
     <xsd:element name="STATKEYFIG" type="tns:char6"/>
     <xsd:element name="QUANTITY" type="tns:quantum15.3"/>
     <xsd:element name="UNITQ" type="tns:unit3"/>
     <xsd:element name="ISO_UNITQ" type="tns:char3"/>
     <xsd:element name="AMOUNT" type="tns:decimal23.4"/>
     <xsd:element name="LONGTEXT" type="tns:char1"/>
     <xsd:element name="FUND" type="tns:char10"/>
     <xsd:element name="FUNC_AREA" type="tns:char16"/>
     <xsd:element name="GRANT_NBR" type="tns:char20"/>
     <xsd:element name="SEND_FUND" type="tns:char10"/>
     <xsd:element name="SEND_FUNCTION" type="tns:char16"/>
     <xsd:element name="SEND_GRANT" type="tns:char20"/>
     <xsd:element name="CPR_GUID" type="tns:char32"/>
     <xsd:element name="CPR_EXTID" type="tns:char24"/>
     <xsd:element name="CPR_OBJGUID" type="tns:char32"/>
     <xsd:element name="CPR_OBJGEXTID" type="tns:char24"/>
     <xsd:element name="CPR_OBJTYPE" type="tns:char3"/>
     <xsd:element name="FUND_LONG" type="tns:char20"/>
     <xsd:element name="SEND_FUND_LONG" type="tns:char20"/>
     <xsd:element name="BUDGET_PERIOD" type="tns:char10"/>
     <xsd:element name="SEND_BUDGET_PERIOD" type="tns:char10"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="SOLISTI1">
    <xsd:sequence>
     <xsd:element name="LINE" type="tns:char255"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICATS3">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICATS3" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICATS7">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICATS7" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICATS8">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICATS8" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPIRET2">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPIRET2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_BAPICATS2">
    <xsd:sequence>
     <xsd:element name="item" type="tns:BAPICATS2" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TABLE_OF_SOLISTI1">
    <xsd:sequence>
     <xsd:element name="item" type="tns:SOLISTI1" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ZFM_MM_7908_CATIMESHEET_CHANGE">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="AGENT" type="tns:SWHACTOR" minOccurs="0"/>
      <xsd:element name="CATSRECORDS_IN" type="tns:TABLE_OF_BAPICATS3"/>
      <xsd:element name="CATSRECORDS_OUT" type="tns:TABLE_OF_BAPICATS2" minOccurs="0"/>
      <xsd:element name="EXTENSIONIN" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="EXTENSIONOUT" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="LONGTEXT" type="tns:TABLE_OF_BAPICATS8" minOccurs="0"/>
      <xsd:element name="PROFILE" type="tns:char8" minOccurs="0"/>
      <xsd:element name="RELEASE_DATA" type="tns:char1" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2"/>
      <xsd:element name="SA_EXTENSION_IN" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="SA_EXTENSION_OUT" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="TESTRUN" type="tns:char1" minOccurs="0"/>
      <xsd:element name="TEXT_FORMAT_IMP" type="tns:char5" minOccurs="0"/>
      <xsd:element name="WORKFLOW_TEXT" type="tns:TABLE_OF_SOLISTI1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ZFM_MM_7908_CATIMESHEET_CHANGEResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="CATSRECORDS_IN" type="tns:TABLE_OF_BAPICATS3"/>
      <xsd:element name="CATSRECORDS_OUT" type="tns:TABLE_OF_BAPICATS2" minOccurs="0"/>
      <xsd:element name="EXTENSIONIN" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="EXTENSIONOUT" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="LONGTEXT" type="tns:TABLE_OF_BAPICATS8" minOccurs="0"/>
      <xsd:element name="RETURN" type="tns:TABLE_OF_BAPIRET2"/>
      <xsd:element name="SA_EXTENSION_IN" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="SA_EXTENSION_OUT" type="tns:TABLE_OF_BAPICATS7" minOccurs="0"/>
      <xsd:element name="WORKFLOW_TEXT" type="tns:TABLE_OF_SOLISTI1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ZFM_MM_7908_CATIMESHEET_CHANGE">
  <wsdl:part name="parameters" element="tns:ZFM_MM_7908_CATIMESHEET_CHANGE"/>
 </wsdl:message>
 <wsdl:message name="ZFM_MM_7908_CATIMESHEET_CHANGEResponse">
  <wsdl:part name="parameter" element="tns:ZFM_MM_7908_CATIMESHEET_CHANGEResponse"/>
 </wsdl:message>
 <wsdl:portType name="ZFM_MM_7908_CATIMESHEET_CHANGE">
  <wsp:Policy>
   <wsp:PolicyReference URI="#IF_IF_ZFM_MM_7908_CATIMESHEET_CHANGE"/>
  </wsp:Policy>
  <wsdl:operation name="ZFM_MM_7908_CATIMESHEET_CHANGE">
   <wsp:Policy>
    <wsp:PolicyReference URI="#OP_IF_OP_ZFM_MM_7908_CATIMESHEET_CHANGE"/>
   </wsp:Policy>
   <wsdl:input message="tns:ZFM_MM_7908_CATIMESHEET_CHANGE"/>
   <wsdl:output message="tns:ZFM_MM_7908_CATIMESHEET_CHANGEResponse"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
