iflows/TEST_I044_Timesheet_ZALARIS_TO_FICOPROC_TBD (1)/src/main/resources/xsd/DOC_Source_ZALARISTimesheet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="Records">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Record" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Counter" type="xs:string" minOccurs="0"/>
                            <xs:element name="Reversed" type="xs:string" minOccurs="0"/>
                            <xs:element name="PersonnelNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="Date" type="xs:string" minOccurs="0"/>
                            <xs:element name="Hours" type="xs:decimal" minOccurs="0"/>
                            <xs:element name="ActivityType" type="xs:string" minOccurs="0"/>
                            <xs:element name="SenderCostCenter" type="xs:string" minOccurs="0"/>
                            <xs:element name="ReceiverCostCenter" type="xs:string" minOccurs="0"/>
                            <xs:element name="WBSElement" type="xs:string" minOccurs="0"/>
                            <xs:element name="ReceiverOrder" type="xs:string" minOccurs="0"/>
                            <xs:element name="ReceiverNetwork" type="xs:string" minOccurs="0"/>
                            <xs:element name="Network" type="xs:string" minOccurs="0"/>
                            <xs:element name="DocumentNumber" type="xs:string" minOccurs="0"/>
                            <xs:element name="ReferenceCounter" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>